{% extends 'cms/base.html' %}

{% block head %}
    <script src="{% static 'ueditor/ueditor.config.js' %}"></script>
    <script src="{% static 'ueditor/ueditor.all.min.js' %}"></script>
    <script src="{% static 'js/write_news.min.js' %}"></script>
{% endblock %}
{% block content-header %}
    {% if news %}
        <h1>编辑新闻</h1>
    {% else %}
        <h1>新闻发布</h1>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <form action="" class="form">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="news-title">新闻标题</label>
                            {% if news %}
                                <input type="text" class="form-control" id="news-title" placeholder="输入新闻标题"
                                       name="title" value="{{ news.title }}">
                            {% else %}
                                <input type="text" class="form-control" id="news-title" placeholder="输入新闻标题"
                                       name="title">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="category-form">新闻分类</label>
                            <select name="category" id="category-form" class="form-control">
                                {% for category in categories %}
                                    <option value="{{ category.pk }}">{{ category.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="news-desc">新闻简述</label>
                            {% if news %}
                                <input type="text" class="form-control" id="news-desc" placeholder="输入新闻简述" name="desc"
                                       value="{{ news.desc }}">
                            {% else %}
                                <input type="text" class="form-control" id="news-desc" placeholder="输入新闻简述" name="desc">
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="thumbnail-form">缩略图</label>
                            <div class="input-group">
                                {% if news %}
                                    <input type="text" class="form-control" id="thumbnail-form" placeholder="上传缩略图"
                                           name="thumbnail" value="{{ news.thumbnail }}">
                                {% else %}
                                    <input type="text" class="form-control" id="thumbnail-form" placeholder="上传缩略图"
                                           name="thumbnail">
                                {% endif %}
                                <span class="input-group-btn">
                                <label class="btn btn-default btn-file">上传图片
                                    <input hidden type="file" class="btn btn-default" id="thumbnail-btn">
                                </label>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content-form">新闻内容</label>
                            <script id="container" type="text/plain">
                                    {{ news.content|safe }}

                            </script>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" id="submit-btn" data-news-id="{{ news.id }}">确认发布</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}