{% extends 'base/base.html' %}

{% block title %}
Bokebook |登录
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.min.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".message-box").click(function () {
                $(".message-box").fadeOut(750);
            });
        });
    </script>
{% endblock %}

{% block main %}
<div class="main">
    <div class="wrapper">
        <div class="login-box">

            <form action="" method="post" class="login-form">
                {% if message %}
                   <div class="message-box" style="height: 100%;background: #d43f3a;border-radius: 3px;
padding: 5px;cursor: pointer;box-sizing:border-box;">
                    <div class="alert-warning" style="font-size: 14px;">
                        <p style="width: 100%;line-height: 30px">{{ message }}</p>
                    </div>
                   </div>
                {% endif %}

                {% csrf_token %}
                <p class="title">请登录</p>
                <div class="form-group">

                    <input type="text" class="form-control" placeholder="手机号码/telephone" name="telephone">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="密码/password" name="password">
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="remember" value="1"> 记住我
                    </label>
                </div>
                <input type="submit" class="login-btn" value="点我登录">
            </form>
        </div>
    </div>
</div>
{% endblock %}